// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
*{
    margin:0;
    padding: 0;
}

//header+baggrundbilled
.section-1{
    background-image: url(../img/trapholt-building.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 0 10px 0;
}

//sticky header 

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.logo {
    margin-left: 119px;
    margin-top: 5px;
}

ul{
    display: flex;
    list-style-type: none;
    padding-top: 18px;
    a{
        text-decoration: none;
        color: #ffffff;
        margin-left: 45px;        
    }
}

//Dropdown af menuer i header

.first-dropdown{
    padding: 0 40px 0 0;

    .dropdown-title{
        padding: 0;
    }
    .dropdown-item{
        margin: 0;
    }
    .nodropdown-item{
        margin: 0;
        color: #ffffff;
    }
}

.search {
    border: 2px solid #ffffff;
    border-radius: 50px;
    margin-right: 119px;
    margin-top: 10px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding: 5px;
    .search-text{
        margin-left: 10px;
        margin-top: 2px;
        color: #000000;
    }
    .search-icon{
        padding-bottom: 5px;
        margin-right: 10px;
        color: #000000;
    }
}

// Logo over baggrund billed
.trapholt-subtitle-logo {
    padding-left: 119px;
    padding-top: 150px;
}


//Udstillinger

.first-display, .second-display, .third-display, .fourth-display, .fifth-display {
    display: flex;
    padding: 200px 119px 200px 119px;
    
    .first-display-text{
        padding: 25px 40px 40px 40px;
       
    }
    .second-display-text {
        padding: 40px 40px 40px 0;
    }
    .third-display-text {
        padding: 40px 40px 40px 40px ;
    }
    .fourth-display-text {
        padding: 40px ;
    }
    .fifth-display-text {
        padding: 30px 40px 40px 40px;
    }
}

.footer-text {
    display: flex;
    justify-content: space-between;

    .menus{
        padding: 40px 75px 40px 75px;
    }

    .fourth-footer-text{
        display: flex;
        
        .email-nyhedsbrev{
            width: 200px;
            height: 35px;
            background-color: white;
            color: #000000;
            display: flex;

            .email-nyhedsbrev-text{
                margin-top: 5px;
                margin-left: 10px;
                padding-right: 40px;

            }
        }


        .tilmeld-dig-button{
            width: 100px;
            height: 35px;
            text-align: center;
            background-color: rgb(161, 161, 161);


            .email-nyhedsbrev-text-2 {
                margin-top:5px;
            }

        }
    }
    //Logo i footer (en ide som jeg kunne tilføje)
    
    // .image-footer{
    //     width: 308px;
    //     height: 68px;
    //     transform: rotate(90deg);
    //     margin-top: 100px;
    // }
    
}


//Billeder til brugere af bærbare computere (ændre størrelsen på dem, fordi opløsningen på bærbare computere stiger til 125%, og det ser ikke godt ud med lange billeder)
.first-display-image-small , .second-display-image-small, .third-display-image-small, .fourth-display-image-small, .fifth-display-image-small   {
    display: none;
}

@media all and (max-width: 1700px) {
    .first-display-image{
        display: none;
    }
   
      .first-display-image-small{
        display: block;
    }

    .second-display-image{
        display: none;
    }
   
      .second-display-image-small{
        display: block;
    }

    .third-display-image{
        display: none;
    }
   
      .third-display-image-small{
        display: block;
    }

    .fourth-display-image{
        display: none;
    }
   
      .fourth-display-image-small{
        display: block;
    }

    .fifth-display-image{
        display: none;
    }
   
      .fifth-display-image-small{
        display: block;
    }
}



//Kubeflex-side

.section-1-kubeflex{
    background-image: url(../img/kubeflex.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

.kubeflex-logo-text {
    padding-left: 119px;
    padding-top: 600px;
    color:#ffffff;
    font-size: 150px;
}

.kubeflex-body-first-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;

    .kubeflex-body-first-section-text{
        padding-left: 119px;
        padding-right: 80px;
        padding-top: 50px;

        .kubeflex-body-first-section-paragraphl{
            line-height: 25px;
        }
    }
    .first-kubeflex-body-image{
        width: 800px;
        height: 600px;
        padding-right: 119px;
    }
}


.kubeflex-body-second-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;

    .kubeflex-body-second-section-text{
        padding-right: 119px;
        padding-left: 80px;
        padding-top: 20px;

        .kubeflex-body-second-section-paragraph{
            line-height: 25px;
        }
    }
    .kubeflex-body-second-section-image{
        padding-left: 119px;
    }
}

.first-kubeflex-body-image-small{
    display: none;
}
.guidede-ture-resolution{
    display: none;
}

@media all and (max-width: 1700px) {
    .kubeflex-logo-text {
        padding-left: 119px;
        padding-top: 450px;
        color:#ffffff;
        font-size: 125px;
    }
    .first-kubeflex-body-image{
        display: none;
    }
   
    .first-kubeflex-body-image-small{
        display: block;
        width: 600px;
        padding-right: 119px;
    }
    .guidede-ture {
        display: none;
    }
    .guidede-ture-resolution{
        flex:none;
        display: block;
        padding-left: 119px;
        padding-right: 119px;
        padding-bottom: 50px;
    }
    .kubeflex-body-second-section{
        padding-bottom: 40px;
    }

}


// Clay and paper side

.section-1-clay-and-paper{
    background-image: url(../img/clay-and-paper.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

.clay-and-paper-logo-text {
    padding-left: 119px;
    padding-top: 600px;
    color:#ffffff;
    font-size: 150px;
}

.clay-and-paper-body-first-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;

    .clay-and-paper-body-first-section-text{
        padding-left: 119px;
        padding-right: 80px;
        padding-top: 75px;

        .clay-and-paper-body-first-section-paragraphl{
            line-height: 25px;
        }
    }
    .first-clay-and-paper-body-image{
        width: 1000px;
        height: 500px;
        padding-right: 119px;
    }
}


.clay-and-paper-body-second-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;

    .clay-and-paper-body-second-section-text{
        padding-right: 119px;
        padding-left: 80px;

        .clay-and-paper-body-second-section-paragraph{
            line-height: 25px;
        }
    }
    .clay-and-paper-body-second-section-image{
        padding-left: 119px;
    }
    .second-clay-and-paper-body-image{
        width: 600px;
    }
    .third-clay-and-paper-body-image{
        width: 950px;
        height: 625px;
        padding-top: 30px;
    }
}

.first-clay-and-paper-body-image-small{
    display: none;
}

@media all and (max-width: 1700px) {
    .clay-and-paper-logo-text {
        padding-left: 119px;
        padding-top: 450px;
        color:#ffffff;
        font-size: 125px;
    }
    .first-clay-and-paper-body-image{
        display: none;
    }
    .clay-and-paper-body-first-section .clay-and-paper-body-first-section-text {
        padding-top: 20px;
    }
    .first-clay-and-paper-body-image-small{
        display: block;
        width: 700px;
        padding-right: 119px;
    }
    .clay-and-paper-body-second-section-image .second-clay-and-paper-body-image{
        width: 400px;
        height: 625px;
    }
    .clay-and-paper-body-third-section-image .third-clay-and-paper-body-image{
        width: 775px;
        height: 400px;
    }
}


// Nanna Ditzel side

.section-1-nanna-ditzel{
    background-image: url(../img/Nanna-Ditzel.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

.nanna-ditzel-logo-text {
    padding-left: 119px;
    padding-top: 400px;
    color:#ffffff;
    font-size: 150px;
}

.nanna-ditzel-body-first-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;

    .nanna-ditzel-body-first-section-text{
        padding-left: 119px;
        padding-right: 80px;
        padding-top: 100px;

        .nanna-ditzel-body-first-section-paragraphl{
            line-height: 25px;
        }
    }
    .first-nanna-ditzel-body-image{
        width: 900px;
        height: 600px;
        padding-right: 119px;
    }
}


.nanna-ditzel-body-second-section{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;

    .nanna-ditzel-body-second-section-text{
        padding-right: 119px;
        padding-left: 80px;
        padding-top: 50px;

        .nanna-ditzel-body-second-section-paragraph{
            line-height: 25px;
        }
    }
    .nanna-ditzel-body-second-section-image{
        padding-left: 119px;
    }
}

.first-nanna-ditzel-body-image-small{
    display: none;
}

@media all and (max-width: 1700px) {
    .nanna-ditzel-logo-text {
        padding-left: 119px;
        padding-top: 350px;
        color:#ffffff;
        font-size: 120px;
    }

    .nanna-ditzel-body-second-section{
        display: block;
    }

    .nanna-ditzel-body-first-section .nanna-ditzel-body-first-section-text {
        padding-top: 35px;
    }

    .nanna-ditzel-body-second-section-image .second-nanna-ditzel-body-image {
        width: 1281px;
    }
    .nanna-ditzel-body-second-section .nanna-ditzel-body-second-section-text{
        padding-left: 119px;
        padding-right: 119px;
    }

}

// Things Matter side

.section-1-things-matter{
    background-image: url(../img/things-matter.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

.things-matter-logo-text {
    padding-left: 600px;
    padding-top: 700px;
    color:#ffffff;
    font-size: 150px;
}

.things-matter-body-first-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;

    .things-matter-body-first-section-text{
        padding-left: 119px;
        padding-right: 80px;
        padding-top: 10px;

        .things-matter-body-first-section-paragraphl{
            line-height: 25px;
        }
    }
    .first-things-matter-body-image{
        width: 1000px;
        padding-right: 119px;
    }
}


.things-matter-body-second-section{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;

    .things-matter-body-second-section-text{
        padding-right: 119px;
        padding-left: 80px;
        padding-top: 125px;
        

        .things-matter-body-second-section-paragraph{
            line-height: 25px;
        }
    }
    .things-matter-body-second-section-image{
        padding-left: 119px;
    }
    .second-things-matter-body-image {
        width: 700px;
    }
}

.first-things-matter-body-image-small{
    display: none;
}

@media all and (max-width: 1700px) {
    .things-matter-logo-text {
        padding-left: 400px;
        padding-top: 550px;
        color:#ffffff;
        font-size: 125px;
    }
    .things-matter-body-first-section{
        display: block;
    }
    .things-matter-body-first-section .things-matter-body-first-section-text{
        padding-right: 119px;
    }
    .things-matter-body-first-section .first-things-matter-body-image {
        padding-left: 119px;
        padding-right: 0;
        width: 720px;
    }
    .things-matter-body-first-section .first-things-matter-body-image-small {
        padding-left: 20px;
        padding-right: 119px;
        width: 800px;
    }
    .first-things-matter-body-image-small{
        display: block;
    }
    .things-matter-body-first-section-image{
        display: flex;
    }
    .things-matter-body-second-section .second-things-matter-body-image{
        display: none;
    }
    .things-matter-body-second-section .things-matter-body-second-section-text {
        padding-top: 0;
        padding-left: 0;
    }
    .things-matter-body-second-section{
        padding-top: 0;
    }
}

// Shaping a Pattern side

.section-1-shaping-a-pattern{
    background-image: url(../img/maria-torp.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

.shaping-a-pattern-logo-text {
    padding-left: 119px;
    padding-top: 550px;
    color:#ffffff;
    font-size: 150px;
}

.shaping-a-pattern-body-first-section .shaping-a-pattern-body-first-section-text {
    padding-left: 119px;
    padding-right: 80px;
    padding-top: 50px;
  }
  .shaping-a-pattern-body-first-section .shaping-a-pattern-body-first-section-text .shaping-a-pattern-body-first-section-paragraphl {
    line-height: 25px;
  }
  .shaping-a-pattern-body-first-section .first-shaping-a-pattern-body-image {
    width: 900px;
    padding-right: 119px;
  }
  
  .shaping-a-pattern-body-second-section {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
  }
  .shaping-a-pattern-body-second-section .shaping-a-pattern-body-second-section-text {
    padding-right: 119px;
    padding-left: 80px;
    padding-top: 100px;
  }
  .shaping-a-pattern-body-second-section .shaping-a-pattern-body-second-section-text .shaping-a-pattern-body-second-section-paragraph {
    line-height: 25px;
  }
  .shaping-a-pattern-body-second-section .shaping-a-pattern-body-second-section-image {
    padding-left: 119px;
  }
  
  .shaping-a-pattern-body-third-section-text {
    padding-right: 119px;
    padding-left: 80px;
    padding-top: 100px;
    display: block;
  }
  .shaping-a-pattern-body-third-section-text .shaping-a-pattern-body-second-section-paragraph {
    line-height: 25px;
  }
  
  .first-shaping-a-pattern-body-image-small {
    display: none;
  }
  
  @media all and (max-width: 1700px) {
    .shaping-a-pattern-logo-text {
      padding-left: 119px;
      padding-top: 425px;
      color: #ffffff;
      font-size: 125px;
    }
    .shaping-a-pattern-body-first-section .first-shaping-a-pattern-body-image {
      width: 850px;
      height: 400px;
    }
    .shaping-a-pattern-body-first-section .shaping-a-pattern-body-first-section-text {
      padding-top: 0;
      font-size: 14px;
    }
    .shaping-a-pattern-body-third-section-title {
      display: none;
    }
    .shaping-a-pattern-body-third-section-paragraph {
      display: none;
    }
    .shaping-a-pattern-body-third-section-text-resolution {
      padding-left: 119px;
      padding-right: 119px;
      padding-bottom: 40px;
    }
  }
  
  
// café side
  
  .section-1-cafe{
      background-image: url(../img/cafe-baggrund.webp);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      height: 100vh;
  }
    
  .cafe-logo-text{
      padding-left: 119px;
      padding-top: 600px;
      color: #ffffff;
      font-size: 150px;
  }
  
  .cafe-body-first-section {
    display: flex;
    padding-top: 100px;
    
  }
  .cafe-body-first-section .cafe-body-first-section-text {
    padding-left: 119px;
    padding-right: 80px;
    
  }
  .cafe-body-first-section .cafe-body-first-section-text .cafe-body-first-section-paragraphl {
    line-height: 25px;
  }
  .cafe-body-first-section .first-cafe-body-image {
    width: 800px;
    height: 510px;
    
    padding-left: 100px;
  }
  
  .cafe-body-second-section .second-cafe-body-image{
    width: 50px;
    height: 10px;
    
  }

  .cafe-body-second-section .cafe-menu{
    padding-left: 500px;
    padding-top: 100px;
    color: #050505;
    font-size: 100px;
  }

  .cafe-body-second-section .cafe-menu-text{
    padding-top: 30px;
  }
  .cafe-menu-overskrift{
    padding-left: 119px;
    padding-right: 119px;
  }

// Om Trapholt side

.om-trapholt-title {
    padding-left: 119px;
    padding-top: 100px;
}

.om-trapholt-second-title{
    padding-left: 119px;
    padding-right: 119px;

}

.om-trapholt-text {
    padding-left: 119px;
    padding-right: 119px;
}

.video {
    padding-left: 119px;
    width: 100%;
    padding-right: 119px;
    padding-bottom: 50px;
}