// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
*{
    margin:0;
    padding: 0;
}

//header+baggrundbilled
.section-1{
    background-image: url(../img/trapholt-building.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 0 10px 0;
}

//sticky header 

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    padding-left: 119px;
    padding-top: 5px;
}

ul{
    display: flex;
    list-style-type: none;
    padding-top: 18px;
    a{
        text-decoration: none;
        color: #ffffff;
        margin-left: 45px;        
    }
}

//Dropdown af menuer i header

.first-dropdown{
    padding: 0 40px 0 0;

    .dropdown-title{
        padding: 0;
    }
    .dropdown-item{
        margin: 0;
    }
    .nodropdown-item{
        margin: 0;
        color: #ffffff;
    }
}

.search {
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin-right: 119px;
    margin-top: 10px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding: 5px;
    .search-text{
        margin-left: 10px;
        margin-top: 2px;
        color: #000000;
    }
    .search-icon{
        padding-bottom: 5px;
        margin-right: 10px;
        color: #000000;
    }
}

// Logo over baggrund billed
.trapholt-subtitle-logo {
    padding-left: 119px;
    padding-top: 150px;
}


//Udstillinger

.first-display, .second-display, .third-display, .fourth-display, .fifth-display {
    display: flex;
    padding: 200px 119px 200px 119px;
    
    .first-display-text{
        padding: 25px 40px 40px 40px;
       
    }
    .second-display-text {
        padding: 40px 40px 40px 0;
    }
    .third-display-text {
        padding: 40px 40px 40px 40px ;
    }
    .fourth-display-text {
        padding: 40px ;
    }
    .fifth-display-text {
        padding: 30px 40px 40px 40px;
    }
}

//footer

.footer-text {
    display: flex;
    justify-content: space-between;
    padding: 3rem;

    .menus{
        padding: 40px 75px 40px 75px;
    }

    .fourth-footer-text{
        display: flex;
        
        .email-nyhedsbrev{
            width: 200px;
            height: 35px;
            background-color: white;
            color: #000000;
            display: flex;

            .email-nyhedsbrev-text{
                margin-top: 5px;
                margin-left: 10px;
                padding-right: 40px;

            }
        }


        .tilmeld-dig-button{
            width: 100px;
            height: 35px;
            text-align: center;
            background-color: rgb(161, 161, 161);


            .email-nyhedsbrev-text-2 {
                margin-top:5px;
            }

        }
    }
    //Logo i footer (en ide som jeg kunne tilføje)
    
    // .image-footer{
    //     width: 308px;
    //     height: 68px;
    //     transform: rotate(90deg);
    //     margin-top: 100px;
    // }
    
}


//Billeder til brugere af bærbare computere (ændre størrelsen på dem, fordi opløsningen på bærbare computere stiger til 125%, og det ser ikke godt ud med lange billeder)(er i media max:1700px)
.first-display-image-small , .second-display-image-small, .third-display-image-small, .fourth-display-image-small, .fifth-display-image-small   {
    display: none;
}
//Til mobil version
.btn-group {
    display: none;
}
.second-display-resolution{
    display: none;
}
.fourth-display-resolution{
    display: none;
}

//Kubeflex-side

.section-1-kubeflex{
    background-image: url(../img/kubeflex.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

.kubeflex-logo-text {
    padding-left: 119px;
    padding-top: 600px;
    color:#ffffff;
    font-size: 150px;
}

.kubeflex-body-first-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;

    .kubeflex-body-first-section-text{
        padding-left: 119px;
        padding-right: 80px;
        padding-top: 50px;

        .kubeflex-body-first-section-paragraphl{
            line-height: 25px;
        }
    }
    .first-kubeflex-body-image{
        width: 800px;
        height: 600px;
        padding-right: 119px;
    }
}


.kubeflex-body-second-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;

    .kubeflex-body-second-section-text{
        padding-right: 119px;
        padding-left: 80px;
        padding-top: 20px;

        .kubeflex-body-second-section-paragraph{
            line-height: 25px;
        }
    }
    .kubeflex-body-second-section-image{
        padding-left: 119px;
    }
}

.first-kubeflex-body-image-small{
    display: none;
}
.guidede-ture-resolution{
    display: none;
}
.kubeflex-body-first-section-resolution{ //mobil version
    display: none;
}


// Clay and paper side

.section-1-clay-and-paper{
    background-image: url(../img/clay-and-paper.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

.clay-and-paper-logo-text {
    padding-left: 119px;
    padding-top: 600px;
    color:#ffffff;
    font-size: 150px;
}

.clay-and-paper-body-first-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;

    .clay-and-paper-body-first-section-text{
        padding-left: 119px;
        padding-right: 80px;
        padding-top: 75px;

        .clay-and-paper-body-first-section-paragraphl{
            line-height: 25px;
        }
    }
    .first-clay-and-paper-body-image{
        width: 1000px;
        height: 500px;
        padding-right: 119px;
    }
}


.clay-and-paper-body-second-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;

    .clay-and-paper-body-second-section-text{
        padding-right: 119px;
        padding-left: 80px;

        .clay-and-paper-body-second-section-paragraph{
            line-height: 25px;
        }
    }
    .clay-and-paper-body-second-section-image{
        padding-left: 119px;
    }
    .second-clay-and-paper-body-image{
        width: 600px;
    }
    .third-clay-and-paper-body-image{
        width: 950px;
        height: 625px;
        padding-top: 30px;
    }
}

.first-clay-and-paper-body-image-small{
    display: none;
}


// Nanna Ditzel side

.section-1-nanna-ditzel{
    background-image: url(../img/Nanna-Ditzel.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

.nanna-ditzel-logo-text {
    padding-left: 119px;
    padding-top: 400px;
    color:#ffffff;
    font-size: 150px;
}

.nanna-ditzel-body-first-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;

    .nanna-ditzel-body-first-section-text{
        padding-left: 119px;
        padding-right: 80px;
        padding-top: 100px;

        .nanna-ditzel-body-first-section-paragraphl{
            line-height: 25px;
        }
    }
    .first-nanna-ditzel-body-image{
        width: 900px;
        height: 600px;
        padding-right: 119px;
    }
}


.nanna-ditzel-body-second-section{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;

    .nanna-ditzel-body-second-section-text{
        padding-right: 119px;
        padding-left: 80px;
        padding-top: 50px;

        .nanna-ditzel-body-second-section-paragraph{
            line-height: 25px;
        }
    }
    .nanna-ditzel-body-second-section-image{
        padding-left: 119px;
    }
}

//Laptop version

.first-nanna-ditzel-body-image-small{
    display: none;
}

.nanna-ditzel-body-second-section-resolution{ //mobil version
    display: none;
}


// Things Matter side

.section-1-things-matter{
    background-image: url(../img/things-matter.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

.things-matter-logo-text {
    padding-left: 600px;
    padding-top: 700px;
    color:#ffffff;
    font-size: 150px;
}

.things-matter-body-first-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;

    .things-matter-body-first-section-text{
        padding-left: 119px;
        padding-right: 80px;
        padding-top: 10px;

        .things-matter-body-first-section-paragraphl{
            line-height: 25px;
        }
    }
    .first-things-matter-body-image{
        width: 1000px;
        padding-right: 119px;
    }
}


.things-matter-body-second-section{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;

    .things-matter-body-second-section-text{
        padding-right: 119px;
        padding-left: 80px;
        padding-top: 125px;
        

        .things-matter-body-second-section-paragraph{
            line-height: 25px;
        }
    }
    .things-matter-body-second-section-image{
        padding-left: 119px;
    }
    .second-things-matter-body-image {
        width: 700px;
    }
}

.first-things-matter-body-image-small{
    display: none;
}

.things-matter-body-first-section-resolution{
    display: none;
}

// Shaping a Pattern side

.section-1-shaping-a-pattern{
    background-image: url(../img/maria-torp.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

.shaping-a-pattern-logo-text {
    padding-left: 119px;
    padding-top: 550px;
    color:#ffffff;
    font-size: 150px;
}

.shaping-a-pattern-body-first-section {
    padding-left: 119px;
    padding-top: 100px;
    display: flex;
    .shaping-a-pattern-body-first-section-text{
        padding-right: 40px;
        padding-top: 40px;
    }
    .shaping-a-pattern-body-first-section-paragraph {
        line-height: 25px;
      }
  }

  .first-shaping-a-pattern-body-image {
    width: 900px;
    padding-right: 119px;
  }
  
  .shaping-a-pattern-body-second-section {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    .shaping-a-pattern-body-second-section-text {
        padding-right: 119px;
        padding-left: 80px;
        padding-top: 100px;
      }
  }

  .shaping-a-pattern-body-second-section-paragraph {
    line-height: 25px;
  }

  .shaping-a-pattern-body-second-section-image {
    padding-left: 119px;
  }
  
  .shaping-a-pattern-body-third-section-text {
    padding-right: 119px;
    padding-left: 80px;
    padding-top: 100px;
    display: block;
    .shaping-a-pattern-body-second-section-paragraph {
        line-height: 25px;
      }
  }
  
  .first-shaping-a-pattern-body-image-small {
    display: none;
  }
  .shaping-a-pattern-body-third-section-text-resolution{
    display: none;
  }
  
  .shaping-a-pattern-body-second-section-resolution{
    display: none;
  }
  
// café side
  
  .section-1-cafe{
      background-image: url(../img/cafe-baggrund.webp);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      height: 100vh;
  }
    
  .cafe-logo-text{
      padding-left: 119px;
      padding-top: 650px;
      color: #ffffff;
      font-size: 150px;
  }
  
  .cafe-body-first-section {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    
  }
  .cafe-body-first-section .cafe-body-first-section-text {
    padding-left: 119px;
    padding-right: 80px;
    
  }
  .cafe-body-first-section .cafe-body-first-section-text .cafe-body-first-section-paragraphl {
    line-height: 25px;
  }
  .cafe-body-first-section .first-cafe-body-image {
    width: 800px;
    height: 510px; 
    padding-left: 0;
    padding-right: 119px;
  }
  
  .cafe-body-second-section .second-cafe-body-image{
    width: 50px;
    height: 10px;
    
  }

  .cafe-body-second-section .cafe-menu{
    padding-left: 500px;
    padding-top: 100px;
    color: #050505;
    font-size: 100px;
  }

  .cafe-body-second-section .cafe-menu-text{
    padding-top: 30px;
  }
  .cafe-menu-overskrift{
    padding-left: 300px;
    padding-bottom: 10px;
  }

  .cafe-overskrift{
    padding-left: 300px;
    font-weight: bold;
  }
  .cafe-text-first{
    padding-bottom: 20px;
    padding-left: 300px;
    
  }

  .cafe-text{
    padding-left: 300px;
    line-height: 50px;
  }

  .cafe-text-sidste-text{
    padding-left: 300px;
    padding-bottom: 25px;
  }
  .over-cafe{
    padding-bottom: 0;
  }
  .cafe-button{
    padding-left: 300px;
    padding-bottom: 40px;
  }

  .cafe-body-first-section-resolution{
    display: none;
  }

  // Designbutik side

    .section-1-butik{
    background-image: url(../img/designbutik-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    }

    .butik-body{
    display: flex;
    justify-content: space-between;
    }
  
    .butik-logo-text{
    padding-left: 119px;
    padding-top: 500px;
    color:#ffffff;
    font-size: 150px;
    }

    .butik-tekst{
        padding-right: 50px;
    }

    .first-butik-image{
        padding-right: 119px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
  
    .butik-text-først{ 
    padding-left: 119px;
    padding-top: 50px;
    font-weight: bold;
    font-size: large;
    
    }

    .butik-overskrift{
    padding-left: 119px;
    font-weight: bold;
    }

    .butik-text{
    padding-left: 119px;
    }

    .butik-text-sidste-text{
    padding-left: 119px;
    padding-bottom: 25px;
    }

    .butik-button{
        padding-left: 119px;
        padding-bottom: 40px;
      }

    .butik-text .butik-text-sidste-text{
    line-height: 25px;
    }


// Om Trapholt side

.om-trapholt-title {
    padding-left: 119px;
    padding-top: 100px;
}

.om-trapholt-second-title{
    padding-left: 119px;
    padding-right: 119px;

}

.om-trapholt-text {
    padding-left: 119px;
    padding-right: 119px;
}

.video {
    padding-left: 119px;
    width: 100%;
    padding-right: 119px;
    padding-bottom: 50px;
}


// Besøg Os side

.besøg-side-image {
    padding-left: 119px;
    width: 100%;
    padding-right: 119px;
    padding-bottom: 0;
    padding-top: 100px;
}

.first-section-text{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    .second-subsection-text{
        padding-right: 119px;
    }
}

.second-section-text{
    display: flex;
    padding-top: 20px;
    .sixth-subsection-text{
        padding-right: 119px;
    }
}

.third-section-text{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    .eleventh-subsection-text{
        padding-right: 119px;
    }
}
.second-underskrift{
    padding-top: 50px;
}

.besøg-logo-text {
    padding-left: 119px;
    padding-top: 20px;
}
.besøg-underskrift{
    padding-left: 119px;
}
.besøg-overskrift{
    padding-left: 119px;
    font-weight: bold;
}
.besøg-tekst{
    padding-left: 119px;
}
.sidste-tekst{
    padding-bottom: 25px;
}

.third-subsection-text{
    width: 45%;
}

.fourth-subsection-text, .fifth-subsection-text{
    width: 50%;
}

.seventh-subsection-text, .eight-subsection-text, .nineth-subsection-text, .tenth-subsection-text{
    width: 30%;
}

.eleventh-subsection-text{
    width: 40%;
}


// kontakt os side
.kontakt-os-title{
    padding-top: 100px;
    padding-left: 119px;
    font-size: 80px;
}

.kontakt-os-subtitle{
    padding-left: 119px;
    padding-bottom: 20px;
}
.ledelse{
    display: flex;
    justify-content: space-between;
    padding-left: 119px;
    padding-right: 119px;
}
.kontakt-os-tekst-title{
    font-weight: bold;
    padding-left: 119px;
}
.kontakter-tekst-title {
    font-weight: bold;
}
.forskellige-kontakter{
    display: flex;
    justify-content: space-between;
    padding-left: 119px;
    padding-right: 119px;
    padding-top: 50px;
    padding-bottom: 50px;
}


@media all and (max-width: 1700px) {
    //index side
    .first-display-image{
        display: none;
    }
   
      .first-display-image-small{
        display: block;
    }

    .second-display-image{
        display: none;
    }
   
      .second-display-image-small{
        display: block;
    }

    .third-display-image{
        display: none;
    }
   
      .third-display-image-small{
        display: block;
    }

    .fourth-display-image{
        display: none;
    }
   
      .fourth-display-image-small{
        display: block;
    }

    .fifth-display-image{
        display: none;
    }
   
      .fifth-display-image-small{
        display: block;
    }

    //Kubeflex side

    .kubeflex-logo-text {
        padding-left: 119px;
        padding-top: 450px;
        color:#ffffff;
        font-size: 125px;
    }
    .first-kubeflex-body-image{
        display: none;
    }
   
    .first-kubeflex-body-image-small{
        display: block;
        width: 600px;
        padding-right: 119px;
    }
    .guidede-ture {
        display: none;
    }
    .guidede-ture-resolution{
        flex:none;
        display: block;
        padding-left: 119px;
        padding-right: 119px;
        padding-bottom: 50px;
    }
    .kubeflex-body-second-section{
        padding-bottom: 40px;
    }

    //Clay and Paper

    .clay-and-paper-logo-text {
        padding-left: 119px;
        padding-top: 450px;
        color:#ffffff;
        font-size: 125px;
    }
    .first-clay-and-paper-body-image{
        display: none;
    }
    .clay-and-paper-body-first-section .clay-and-paper-body-first-section-text {
        padding-top: 20px;
    }
    .first-clay-and-paper-body-image-small{
        display: block;
        width: 700px;
        padding-right: 119px;
    }
    .clay-and-paper-body-second-section-image .second-clay-and-paper-body-image{
        width: 400px;
        height: 625px;
    }
    .clay-and-paper-body-third-section-image .third-clay-and-paper-body-image{
        width: 775px;
        height: 400px;
    }

    // Nanna Ditzel side

    .nanna-ditzel-logo-text {
        padding-left: 119px;
        padding-top: 350px;
        color:#ffffff;
        font-size: 120px;
    }

    .nanna-ditzel-body-second-section{
        display: block;
    }

    .nanna-ditzel-body-first-section .nanna-ditzel-body-first-section-text {
        padding-top: 35px;
    }

    .nanna-ditzel-body-second-section-image .second-nanna-ditzel-body-image {
        width: 1281px;
    }
    .nanna-ditzel-body-second-section .nanna-ditzel-body-second-section-text{
        padding-left: 119px;
        padding-right: 119px;
    }

    //Things matter side

    .things-matter-logo-text {
        padding-left: 400px;
        padding-top: 550px;
        color:#ffffff;
        font-size: 125px;
    }
    .things-matter-body-first-section{
        display: block;
    }
    .things-matter-body-first-section .things-matter-body-first-section-text{
        padding-right: 119px;
    }
    .things-matter-body-first-section .first-things-matter-body-image {
        padding-left: 119px;
        padding-right: 0;
        width: 720px;
    }
    .things-matter-body-first-section .first-things-matter-body-image-small {
        padding-left: 20px;
        padding-right: 119px;
        width: 800px;
    }
    .first-things-matter-body-image-small{
        display: block;
    }
    .things-matter-body-first-section-image{
        display: flex;
    }
    .things-matter-body-second-section .second-things-matter-body-image{
        display: none;
    }
    .things-matter-body-second-section .things-matter-body-second-section-text {
        padding-top: 0;
        padding-left: 0;
    }
    .things-matter-body-second-section{
        padding-top: 0;
    }

    // Shaping a Pattern side

    .shaping-a-pattern-logo-text {
        padding-left: 119px;
        padding-top: 425px;
        color: #ffffff;
        font-size: 125px;
    }
      .shaping-a-pattern-body-first-section .first-shaping-a-pattern-body-image {
        width: 850px;
        height: 400px;
    }
      .shaping-a-pattern-body-first-section .shaping-a-pattern-body-first-section-text {
        padding-top: 0;
        font-size: 14px;
    }
      .shaping-a-pattern-body-second-section{
          padding-bottom: 50px;
    }
      .shaping-a-pattern-body-third-section-title {
        display: none;
    }
      .shaping-a-pattern-body-third-section-paragraph {
        display: none;
    }
      .shaping-a-pattern-body-third-section-text-resolution {
        padding-left: 119px;
        padding-right: 119px;
        padding-bottom: 40px;
        display: block;
    }

    // Cafe side
    .cafe-logo-text{
        padding-left: 119px;
        padding-top: 500px;
        color: #ffffff;
        font-size: 125px;
    }
    
}


@media all and (max-width: 600px) {
    //index side

    //header
    .logo{
        padding: 10px 0 10px 20px;
    }
    .icons{
        padding-top: 18px;
    }
    .nav{
        display: none;
    }
    .search{
        width: 125px;
        height: 38px;
        justify-content: center;
        justify-content: space-between;
        margin: 0;
    }

    // Menuer Dropdown
    .menu-svg{
        background-color: transparent;
        color: transparent;
    }
    .btn-group {
        display: block;
        padding-top: 15px;
        padding-right: 20px;
        .a2 {
            color: #000000;
            margin-left: 20px;
        }
        .menu-element{
            padding-top: 7px;
        }
        .dropdown-menu{
            padding-bottom: 12px;
        }
    }
    .Udstillinger-dropdown{
        text-align: center;
    }
    .menuer{
        justify-content: center;
    }

    //logo billed og tekst
    .trapholt-subtitle-logo {
        padding-left: 20px;
        padding-top: 125px;
    }
    .trapholt-subtitle-logo-image{
        width: 275px;
        height: 139px;
    }

    //udstillinger (forside)
    .first-display, .second-display, .third-display, .fourth-display, .fifth-display{
        display: block;
        padding: 20px;
    }
    .kubeflex-forside-image{
        width: 100%;
        padding: 10 20 0 20;
    }
    .first-display .first-display-text{
        padding: 0 0 10px 0;
    }

    .second-display{
        display: none;
    }
    .second-display-resolution{
        display: block;
        padding: 20px;
    }
    .clay-and-paper-forside-image {
        width: 100%;
        padding: 10 20 0 20;
    }

    .third-display .third-display-text{
        padding: 0 0 10px 0;
    }
    .nanna-ditzel-forside-image{
        width: 100%;
        padding: 10 20 0 20;
    }

    .things-matter-forside-image{
        width: 100%;
        padding: 10 20 0 20;
    }
    .fourth-display{
        display: none;
    }
    .fourth-display-resolution{
        display: block;
        padding: 20px;
    }

    .maria-torp-forside-image{
        width: 100%;
        padding: 10 20 0 20;
    }
    .fifth-display .fifth-display-text{
        padding: 0 0 10px 0;
    }

    //footer forside
    .footer-text{
        display: block;
        padding: 0;
    }
    .footer-text .menus {
        padding: 20px 0 0 20px;
    }
    .footer-text .footer-text-fourth-menu{
        padding-bottom: 15px;
    }


    // Besøg os side
    .first-section-text, .second-section-text, .third-section-text {
        display: block;
        padding-right: 20px;
        padding-left: 20px;
    }
    .third-section-text{
        padding-top: 0;
    }
    .besøg-underskrift{
        padding-left: 20px;
    }
    .besøg-overskrift{
        padding-left: 20px;
        font-weight: bold;
    }
    .besøg-tekst{
        padding-left: 20px;
    }
    .besøg-logo-text {
        padding-left: 20px;
        padding-top: 20px;
        font-size: 40px;
    }
    .besøg-side-image {
        padding-left: 20px;
        width: 100%;
        padding-right: 20px;
    }

    .third-subsection-text,.fourth-subsection-text, .fifth-subsection-text,.seventh-subsection-text, .eight-subsection-text, .nineth-subsection-text, .tenth-subsection-text,.eleventh-subsection-text{
        width: 100%;
    }

    // Om Trapholt side
    .om-trapholt-title {
        padding-left: 20px;
        padding-top: 100px;
        font-size: 40px;
    }
    
    .om-trapholt-second-title{
        padding-left: 20px;
        padding-right: 20px;
    
    }
    
    .om-trapholt-text {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .video {
        padding-left: 20px;
        width: 100%;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    //Kontakt os side
    .kontakt-os-title{
        padding-top: 100px;
        padding-left: 20px;
        font-size: 40px;
    }
    
    .kontakt-os-subtitle{
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .ledelse{
        display: block;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 119px;
    }
    .kontakt-os-tekst-title{
        font-weight: bold;
        padding-left: 20px;
    }
    .kontakter-tekst-title {
        font-weight: bold;
    }
    .forskellige-kontakter{
        display: block;
        justify-content: space-between;
        padding: 20px;
    }

    //kubeflex side
    .section-1-kubeflex{
        display: none;
    }

    .kubeflex-body-first-section{
        display: none;
    }

    .kubeflex-body-first-section-resolution{
        display: block;
    }

    .first-kubeflex-body-image-small{
        display: block;
        padding: 20px 20px 0 20px;
        width: 100%;
    }

    .kubeflex-body-first-section-text-top{
        padding: 100px 20px 0 20px;
    }

    .kubeflex-body-first-section-text-bottom{
        padding: 20px;
    }
    
    
    
    .kubeflex-body-second-section{
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    
        .kubeflex-body-second-section-text{
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 20px;
        }
        .kubeflex-body-second-section-image{
            padding-left: 0;
        }
    }
    .second-kubeflex-body-image{
        padding: 20px 20px 0 20px;
        width: 100%;
    }
    .guidede-ture-resolution{
        display: block;
        padding: 20px;
    }
    
    //Clay and Paper side
    .section-1-clay-and-paper{
        display: none;
    }

    .first-clay-and-paper-body-image-small{
        display: block;
        padding: 20px;
        width: 100%;
    }
    
    .clay-and-paper-body-first-section{
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    
        .clay-and-paper-body-first-section-text{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 100px;
        }
    }

    .second-clay-and-paper-body-image{
        display: none;
    }
    
    
    .clay-and-paper-body-second-section{
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
    
        .clay-and-paper-body-second-section-text{
            padding-right: 20px;
            padding-left: 20px;
    
            .clay-and-paper-body-second-section-paragraph{
                line-height: 25px;
            }
        }
        .clay-and-paper-body-second-section-image{
            padding-left: 0;
        }
        .second-clay-and-paper-body-image{
            width: 600px;
        }
        .third-clay-and-paper-body-image{
            width: 100%;
        }
    }

    // Nanna Ditzel side
    .section-1-nanna-ditzel{
        display: none;
    }
    
    .first-nanna-ditzel-body-image{
        display: none;
    }
    .first-nanna-ditzel-body-image-small{
        display: block;
        width: 100%;
        padding: 20px;
    }
    
    .nanna-ditzel-body-first-section{
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    
        .nanna-ditzel-body-first-section-text{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 100px;
        }
        
    }
    
    
    .nanna-ditzel-body-second-section{
        display: none;
    }

    .nanna-ditzel-body-second-section-resolution{
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
    
        .nanna-ditzel-body-second-section-text{
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 20px;
    
            .nanna-ditzel-body-second-section-paragraph{
                line-height: 25px;
            }
        }
        .second-nanna-ditzel-body-image{
            padding: 20px;
            width: 100%;
        }
    }
    
    // Things Matter side
    .section-1-things-matter{
        display: none;
    }
    
    .first-things-matter-body-image{
        display: block;
    }
    .first-things-matter-body-image-small{
        display: block;
        width: 100%;
        padding: 20px;
    }

    .things-matter-body-first-section{
        display: none;
    }

    .things-matter-body-first-section-resolution{
        display: block;
        padding-top: 100px;
        padding-bottom: 0;
    
        .things-matter-body-first-section-text{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 0;
        }
        .first-things-matter-body-image{
            width: 100%;
            padding: 0 0 20px 0;
        }
    }
    
    
    .things-matter-body-second-section{
        padding-top: 0;
        padding-bottom: 20px;
        display: block;
    
        .things-matter-body-second-section-text{
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 0;
        }
    }

    //Shaping a pattern side
    .section-1-shaping-a-pattern{
        display: none;
    }
    
    .shaping-a-pattern-body-first-section {
        padding-left: 0;
        padding-top: 100px;
        display: block;
        .shaping-a-pattern-body-first-section-text{
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 0;
        }
        .first-shaping-a-pattern-body-image {
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            height: 250px;
        }
    }
      
    .shaping-a-pattern-body-second-section {
        display: none;
    }

    .shaping-a-pattern-body-second-section-resolution {
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        .shaping-a-pattern-body-second-section-image{
            padding: 0;
        }
        .shaping-a-pattern-body-second-section-text {
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 20px;
        }
    }
    
    .shaping-a-pattern-body-second-section-image{
        padding: 0;
    }
    .second-shaping-a-pattern-body-image {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .shaping-a-pattern-body-third-section-text {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
        display: block;
    }
      
    .first-shaping-a-pattern-body-image-small {
        display: none;
    }
    .shaping-a-pattern-body-third-section-text-resolution{
        display: block;
        padding: 0 20px 20px 20px;
    }

    // Cafe side
      
    .section-1-cafe{
        display: none;
    }

    .cafe-body-first-section-resolution{
        display: block;
    }

    .cafe-body-first-section {
    display: none;
    
    }
    .cafe-body-first-section-text {
        padding-left: 20px;
        padding-right: 20px;
    }
    .first-cafe-body-image{
        width: 100%; 
        padding-left: 20px;
        padding-right: 20px;
    }

    .second-cafe-body-image{
        width: 100%;
        padding: 100px 0 20px 0;   
    }

    .cafe-body-second-section .cafe-menu{
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        color: #050505;
        font-size: 50px;
    }

    .cafe-body-second-section .cafe-menu-text{
        padding-top: 10px;
    }
    .cafe-menu-overskrift{
        padding-left: 20px;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    .cafe-overskrift{
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
    }
    .cafe-text-first{
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cafe-text{
        padding-left: 20px;
        padding-right: 20px;
        line-height: 50px;
    }

    .cafe-text-sidste-text{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
    }

    .cafe-bestil-bord{
        padding-left: 20px;
        padding-right: 20px;
    }

    // Butik side
    .section-1-butik{
        display: none;
    }
      
    .butik-text-først{ 
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100px;
        font-weight: bold;
        font-size: large;
        
    }

    .butik-body{
        display: block;
    }
    
    .first-butik-image{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .butik-overskrift{
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
    }
    
    .butik-text{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .butik-text-sidste-text{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
    }
    
    .butik-text .butik-text-sidste-text{
        line-height: 25px;
    }

}