// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
*{
    margin:0;
    padding: 0;
}

//header+baggrundbilled
.section-1{
    background-image: url(../img/trapholt-udsigt.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 0 10px 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.logo {
    margin-left: 119px;
    margin-top: 5px;
}

ul{
    display: flex;
    list-style-type: none;
    padding-top: 18px;
    a{
        text-decoration: none;
        color: #ffffff;
        margin-left: 45px;        
    }
}

.search {
    border: 2px solid #ffffff;
    border-radius: 50px;
    margin-right: 119px;
    margin-top: 10px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding: 5px;
    .search-text{
        margin-left: 10px;
        margin-top: 2px;
        color: #000000;
    }
    .search-icon{
        padding-bottom: 5px;
        margin-right: 10px;
        color: #000000;
    }
}

.trapholt-title-logo{
    padding-top: 150px;
    padding-left: 119px;
}


//Udstillinger

.first-display, .second-display, .third-display, .fourth-display {
    display: flex;
    padding: 200px 119px 200px 119px;
    
    .first-display-text{
        padding: 40px;
       
    }
    .second-display-text {
        padding: 40px 40px 40px 0;
    }
    .third-display-text {
        padding: 30px 40px 40px 40px ;
    }
    .fourth-display-text {
        padding: 40px ;
    }
}